.Flights {
    min-height: 150px;
    padding-top: 60px;
    background: #007cc2;

    .FormFlights-Container {
        width: 100%;
    }

    .FormFlights-Form {
        
        .FormFlights-Form-Radio {
            display: flex;
            color: #FFFFFF;
            justify-content: space-around;

            .Control-Radio {
                display: flex;
                margin-left: 10px;
                align-items: baseline;
            }

            label {
                margin-left: 15px;
            }
        }
        .FormFlights-Form-Control {
            color: hsla(0,0%,100%,.5);

            .Form-Destiny > div > div > div > input, input {
                height: 60px !important;
                font-size: 18px;
                line-height: 18px;
                
                &:focus {
                    outline:none !important;
                    outline-width: 0 !important;
                    box-shadow: none;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                }
            }

            input {
                width: 100%;
            }

            .Form-Input  {
                height: 60px !important;
                width: 100%;
            }

            select {
                height: 50px;
            }

            .btn {
                color: white;
                border: none;
                background: none;
                border-radius: 30px;
            }

            .btn-form-search {
                background: #0b2343;
                margin-top: 30px;
                min-width: 200px;
                height: 50px;

                &:hover {
                    background: #e91b2f;
                }
            }

            .btn-change {
                color: white;
                border: none;
                background: none;
                cursor: pointer;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 679px) { 
    .btn-change {
        display: none;
    }

    .btn-form-search {
        width: 100%;
    }

    .Form-Destiny {
        margin: 20px 0;
    }

    .FormFlights-Form {
        padding: 35px 0;
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 680px) { 
    .FormFlights-Form {
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: 0 auto;
        padding-top: 35px;

        .FormFlights-Form-Radio {
            flex-basis: 20% 300px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-right: 30px;

        }
    
        .FormFlights-Form-Control {
            flex-basis: 100%;
            display: flex;
            flex-flow: row wrap;
            margin: 20px 0;
            
            .Form-Destiny {
                flex: 1 300px;
                display: flex;
                margin-right: 20px;

                div {
                    flex: 1 50%;
                }
            }
            .Form-Item {
                flex: 1 200px;
                margin-right: 20px;
                max-width: 200px;
            }
        }

        .btn-form-search {
            flex: 1 300px;
            max-width: 200px;
        }
    }
}

@media (min-width: 1200px) { 
    .FormFlights-Form {
        display: flex;
        padding: 35px 0;

        .FormFlights-Form-Radio {
            flex-basis: 11%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid hsla(0,0%,100%,.25);
        }

        .FormFlights-Form-Control {
            flex-basis: 80%;
            display: flex;
            flex-flow: row wrap;
            .Form-Destiny {
                flex: 1 300px;
                display: flex;
                margin-right: 20px;
            }
            .Form-Item {
                flex: 1;
                max-width: 200px;
            }
        }
    }
}







