.App-Header {
    background: #0b2343;
    color: #FFFF;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    top: 0;
    z-index: 2;
    align-items: center;

    .App-Header-Left {
        display: flex;

        .logo-mobile {
            width: 33px;
            margin-left: 8px;
        }
    
        .App-Logo {
            margin-left: 10px;
        }
    }

    .App-Header-Right {
        display: flex;

        .Right-Links-List, .App-Header-User {
            display: flex;
            list-style: none;
            margin: 0;
            font-size: 12px;
        }

        .App-Header-User {
            padding: 0 10px;
            border-left: 1px solid hsla(0,0%,100%,.25);
            .logo-mexsvg {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }

    .btn-search {
        width: 25px;
        border-radius: 50%;
        padding: 4px;
        background: #007cc2;
        border: none;
        height: 26px;
        color: #FFFFFF;
    }
    
}

@media (max-width: 679px) {
    .App-Header-Links {
        display: none;
    }

    .App-Header-Logo {
        display: none;
    }

    .App-Header-Right {
        flex: 1;
        justify-content: flex-end;
        margin-right: 10px;
        .App-Icon-Question {
            display: block;
            border-left: 1px solid hsla(0,0%,100%,.25);
            padding: 0 15px;
        }
    }

    .App-Header-Right-Links {
        display: none;

    }

}

@media (min-width : 680px) {

    .App-Icon-Question {
        display: none;
    }

    .App-Header-Left {
        flex-basis: 100%;
    }

    .App-Header-Mov-Logo {
        display: none;
    }
    .App-Header-Logo {
        display: flex;
    }

    .App-Header-Links {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        align-items: center;
        
        li {
            margin-right: 10px;
        }
    }

    .logo-app {
        width: 145px;
    }

    .logo-skyteam {
        margin-left: 8px;
        width: 26px;
    }

    .App-Header-Right-Links {
        display: none;
    }
    
}

@media (min-width: 1200px) {

    .App-Header-Left {
        flex-basis: 50%;
    }

    .App-Header-Right {
        
        flex-basis: 50%;

        .App-Header-Right-Links {
            display: flex;
            flex-basis: 100%;
            justify-content: space-around;
            align-items: center;

            .Right-Links-List {
                flex-basis: 70%;
                justify-content: flex-end;
                align-items: center;

                li {
                    margin-right: 15px;
                }
            }

            .App-Header-User {
                flex-basis: 30%;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}